#naveg{
	background-color: #D90C0C;
}
#links{
	display: flex;
	text-decoration: none;
}

.pesquisar{
	border: 1px solid #8D8A8A;
	width: 450px;
	height: 35px;
}

.pesquisar:focus{
	border: 2px solid #FF1414;
}