 @font-face { font-family: TeXRegular; src: url('../font/texgyreadventor-regular.otf'); }
 @font-face { font-family: TeXBold; src: url('../font/texgyreadventor-bold.otf'); }
 @font-face { font-family: Font-Awesome; src: url('font-awesome/fonts/FontAwesome.otf'); }
     

body{
	color: #3D3D3D;
	font-family: TeXRegular;
	
}

header,footer{
	font-family: Font-Awesome;
}

h4,h5,h6{
	color: #3D3D3D;
	font-family: TeXBold;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.lateral-direito{
	text-align: center;
}

.imgProduto{
	background-color: #EEE;
	border-radius: 5px;
}

.favorito{
	padding-top: 5px;
	padding-right: 5px;
	text-decoration: none;
	z-index: 2;
}

.preco{
	color: #EF0A19;
	font-weight: bold;
}


#underline-new{
	width: 60px;
	height: 4px;
	background-color: #EF0A19;
}

#underline-other{
	width: 80px;
	height: 4px;
	background-color: #09BC3D;
}

#detalhes{
	background-color: #FFF;
	border: 1px solid #8D8A8A;
	font-family:  TeXRegular;
  	width: 70%;
  /*text-align: center;*/
  
}


a#detalhes{
	background-color: #FFF;
	color: #3D3D3D;
	padding-left: 50px;
	padding-right: 50px;
	font-family:  TeXRegular;
  /*text-align: center;*/
  
}

#detalhes:hover{
	text-decoration: none;
}

}

